<!-- Unicons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@iconscout/unicons@3.0.6/css/line.css">


<footer class="bg-darkblue text-white font-weight-light font-sans pt-10 sm:mt-10 pt-10">

    <div class="pl-3 max-w-9xl m-auto text-gray-800 justify-left">

        <div class="grid grid-cols-3 text-white gap-4">

            <!-- Col-1 -->
            <div class="">
                <!-- Col Title -->
                <div class="text-xs uppercase font-medium mb-6">
                    Ocean Fanatics
                </div>
                <!-- Links -->
                <a href="#" class="my-3 block duration-700">
                    About
                </a>
                <a href="#" class="my-3 block  duration-700">
                    Recent
                </a>
                <a href="#" class="my-3 block duration-700">
                    Activities
                </a>
                <a href="#" class="my-3 block  duration-700">
                    Inquire
                </a>
                <a href="#" class="my-3 block  duration-700">
                    Initiatives
                </a>
                <a href="#" class="my-3 block duration-700">
                    Team
                </a>
                <a href="#" class="my-3 block  duration-700">
                    Contact
                </a>
            </div>

            <!-- Col-2 -->
            <div class="">
                <!-- Col Title -->
                <div class="text-xs uppercase font-medium mb-6">
                    Address here
                </div>

                <!-- Links -->

                <div class="my-3 block  duration-700">
                    line one
                </div>
                <div class="my-3 block  duration-700">
                    line 2
                </div>

            </div>
            <!-- Col-3 -->
            <div class="">


                <!-- Links -->
                <a href="#" class="my-3 block  duration-700 float-right pr-5">
                    <img src="images/logo-light.png" class=" h-8" />
                </a>


            </div>
        </div>


    </div>

    <!-- Copyright Bar -->
    <div class="pt-2">
        <div class="flex m-auto pb-3 pl-3
            text-sm
            flex-col md:flex-row max-w-9xl">
            <div class="mt-2">
                © Copyright @DateTime.UtcNow.Year OceanFanatics. All Rights Reserved.
            </div>

            <!-- Required Unicons (if you want) -->
            <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-twitter-alt"></i>
                </a>
                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-youtube"></i>
                </a>

                <a href="#" class="w-6 mx-1">
                    <i class="uil uil-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>