<nav class="bg-darkblue shadow fixed  z-10 mx-auto inset-x-0 top-0 flex justify-between items-center">

    <a href="/" class="font-extrabold m-3 uppercase inline-flex hover:text-pink-700 transition-all duration-500">
        <img class="h-8" src="~/images/logo-light.png" />

    </a>

    <button id="mobileMenuButton" class="p-3 focus:outline-none md:hidden" title="Open side menu">
        <!-- SVG For "x" button -->
        <svg id="mobileMenuButtonClose" class="text-white w-6 h-6 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <!-- SVG For "Menu burger" button -->
        <svg id="mobileMenuButtonOpen" class="text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>

    <!-- List of nav item -->
    <div id="sideMenuHideOnMobile" class="bg-darkblue z-10 rounded-bl-md flex absolute top-0 right-0 transition-all duration-500 transform translate-x-0
                                              w-1/2 md:w-auto
                                              px-3 md:px-0
                                              flex-col md:flex-row
                                              -translate-y-full md:translate-y-0
                                              md:mt-1 md:items-center md:mx-1 md:uppercase">
        <a href="/#about" class="text-white font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2  transition-all duration-500 py-1 sm:p-0">ABOUT</a>
        <a href="/#recent" class="text-white  font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2 transition-all duration-500 py-1 sm:p-0">RECENT</a>
        <!--<a href="/activities" class="text-white  font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2 transition-all duration-500 py-1 sm:p-0">ACTIVITIES</a>-->
        @*<a href="#inquire" class="text-white  font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2 transition-all duration-500 py-1 sm:p-0">INQUIRE</a>*@
        <!--<a href="#initiatives" class="text-white  font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2  transition-all duration-500 py-1 sm:p-0">INITIATIVES</a>-->
        <a href="#team" class="text-white  font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2  transition-all duration-500 py-1 sm:p-0">TEAM</a>
        <a href="/#contact" class="text-white  font-weight-light mr-4 font-sans mx-0 sm:mx-2 my-2 transition-all duration-500 py-1 sm:p-0">CONTACT</a>
    </div>

</nav>

<script>
    var mobileMenuButton = document.getElementById("mobileMenuButton");
    mobileMenuButton.onclick = function() {
        document.getElementById("sideMenuHideOnMobile").classList.toggle("-translate-y-full");
        document.getElementById("sideMenuHideOnMobile").classList.toggle("mt-12");
        document.getElementById("sideMenuHideOnMobile").classList.toggle("shadow");
        document.getElementById("mobileMenuButtonClose").classList.toggle("hidden");
        document.getElementById("mobileMenuButtonOpen").classList.toggle("hidden");
    }
      // Hide element when click outside nav
    var theElementContainer = document.getElementsByTagName("nav")[0];
    document.addEventListener('click', function(event) {
        if (!theElementContainer.contains(event.target)) {
            document.getElementById("sideMenuHideOnMobile").classList.add("-translate-y-full");
            document.getElementById("sideMenuHideOnMobile").classList.remove("mt-12");
            document.getElementById("sideMenuHideOnMobile").classList.remove("shadow");
            document.getElementById("mobileMenuButtonOpen").classList.remove("hidden");
            document.getElementById("mobileMenuButtonClose").classList.add("hidden");
        }
    });
</script>