@model PagedQueryResult<oceanfanatics.Cofoundry.CustomEntities.News.NewsDisplayModel>
@inject ICofoundryHelper Cofoundry

@{
    Layout = null;
}
<div class="js-show-on-scroll grid grid-cols-1 md:grid-cols-3 gap-10 px-4">
    @foreach (var highlight in Model.Items)
    {
        <div class="transition ease-in-out delay-150    duration-300">
            <div class="inline-block overflow-hidden">
                <img src="@Cofoundry.Routing.ImageAsset(highlight.Photo)" class="grayscale w-full hover:-translate-y-1 hover:scale-110 block" />
            </div>
            
            <div class="grid">
                <span class="pt-2 font-medium text-prose font-sans text-sm">@highlight.Title</span>
                <span class="pt-2 font-lighter text-prose font-sans text-xs">@highlight.Details</span>
               @* <a class="pt-2 font-lighter text-prose font-sans text-xs inline-flex" href="@highlight.ForwardLink">View More <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
    <path d="M5 12h14M12 5l7 7-7 7"></path>
</svg></a>*@

            </div>

        </div>
    }
</div>